@model F1Championship.Models.Teams

@{
    ViewData["Title"] = "Delete";
}
<head>
    <title>F1 Delete</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico.png" />
</head>
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Teams</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Team Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
           Team Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            Headquarters
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headquarters)
        </dd>
        <dt class = "col-sm-2">
            Team Principal
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamPrincipal)
        </dd>
        <dt class = "col-sm-2">
            Chassis
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chassis)
        </dd>
        <dt class = "col-sm-2">
            Engine
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engine)
        </dd>
        <dt class = "col-sm-2">
            Drivers
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drivers)
        </dd>
    </dl>

    <div>
        <hr />
        <dl class="row">
        </dl>
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["ErrorMessage"]
            </div>
        }
    </div>

    <form id="deleteForm" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="fancy-delete-button @(string.IsNullOrEmpty(ViewData["ErrorMessage"] as string) ? "" : "disabled")" />
    </form>

    <div style="margin-top: 20px;">
        <a asp-action="Index" class="fancy-data-button">Back to List</a>
    </div>

    @section scripts {
        <script>
            document.getElementById("deleteForm").addEventListener("submit", function (event) {
                if (document.querySelector('.fancy-delete-button').classList.contains('disabled')) {
                    event.preventDefault();
                }
            });
        </script>
    }

</div>


