@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>F1 Team League</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/site.js" ></script>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico.png" />
</head>
<body>
    <div class="header">
        <a href="@Url.Action("Index", "Home")" class="logo">
            <img src="~/img/f1.png" alt="F1 Logo" class="logo-image">
            <b>F1 Championship</b>
        </a>
        <div class="header-right">
            <a class="active" href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("Teams", "Home")">Teams</a>
            <a href="@Url.Action("Drivers", "Home")">Drivers</a>
            <a href="@Url.Action("Leagues", "Home")">Team Leagues</a>
            <a href="@Url.Action("Dashboards", "Home")">Dashboards</a>
            <a href="@Url.Action("About", "Home")">About</a>
        </div>
    </div>

    <div class="container">
        <div class="header1">
            <h1>F1 Teams League Details</h1>
            <p style="display: inline-block; margin-left: 10px;">
                <b><a asp-controller="Leagues" asp-action="Create" class="fancy-button">Create New</a></b>
            </p>
        </div>

        @model List<Leagues>
        <table>
            <thead>
                <tr>
                    <th>League Number</th>
                    <th>Team Number</th>
                    <th>Team Name</th>
                    <th>League</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any()) 
                {
                    @foreach (var league in Model)
                    {
                        <tr>
                            <td>@league.Id</td>
                            <td>@league.TeamId</td>
                            <td>@league.Team</td>
                            <td>@league.League</td>
                            <td><a class="fancy-button" href="@Url.Action("Edit", "Leagues", new { id = league.Id } )">Edit</a></td>
                            <td><a class="fancy-delete-button" href="@Url.Action("Delete", "Leagues", new { id = league.Id } )">Delete</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">No Leagues found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div class="social-links">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
        <p>© @DateTime.Now.Year F1 Cars. All rights reserved.</p>
    </footer>
</body>
</html>
