@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>F1 Teams</title>
    <link href="~/css/site.css" rel="stylesheet" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/site.js"></script>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico.png" />
</head>
<body>
    <div class="header">
        <a href="@Url.Action("Index", "Home")" class="logo">
            <img src="~/img/f1.png" alt="F1 Logo" class="logo-image">
            <b>F1 Championship</b>
        </a>
        <div class="header-right">
            <a class="active" href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("Teams", "Home")">Teams</a>
            <a href="@Url.Action("Drivers", "Home")">Drivers</a>
            <a href="@Url.Action("Leagues", "Home")">Team Leagues</a>
            <a href="@Url.Action("Dashboards", "Home")">Dashboards</a>
            <a href="@Url.Action("About", "Home")">About</a>
        </div>
    </div>

    <div class="container">


        <div class="header1">
            <h1>F1 Teams Details</h1>
            <p style="display: inline-block; margin-left: 10px;">
                <b><a asp-controller="Teams" asp-action="Create" class="fancy-button">Create New</a></b>
            </p>
        </div>

        @model List<Teams>
        <table>
            <thead>
                <tr>
                    <th>Team Number</th>
                    <th>Team Name</th>
                    <th>Headquarters</th>
                    <th>Team Principal</th>
                    <th>Chassis</th>
                    <th>Engine</th>
                    <th>Drivers</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var team in Model)
                    {
                        <tr>
                            <td>@team.Id</td>
                            <td>@team.TeamName</td>
                            <td>@team.Headquarters</td>
                            <td>@team.TeamPrincipal</td>
                            <td>@team.Chassis</td>
                            <td>@team.Engine</td>
                            <td>@team.Drivers</td>
                            <td><a class="fancy-button" href="@Url.Action("Edit", "Teams", new { id = team.Id } )">Edit</a></td>
                            <td><a class="fancy-delete-button" href="@Url.Action("Delete", "Teams", new { id = team.Id } )">Delete</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">No teams found.</td>
                    </tr>
                }
            </tbody>
        </table>

        <h1>Current F1 Teams</h1>

        <table>
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="~/img/mercedes2.png" alt="Mercedes-AMG Petronas" style="width:100px;">
                        <h3>Mercedes-AMG Petronas</h3>
                    </td>
                    <td>
                        <p>The Mercedes-AMG Petronas Formula One Team is a British-based, German-licensed Formula One team.</p>
                        <p><strong>Founded:</strong> 2010</p>
                        <p><strong>Country:</strong> United Kingdom, Germany</p>
                        <p><strong>Total World Championships:</strong> 8</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/img/redbull1.png" alt="Red Bull Racing" style="width:100px;">
                        <h3>Red Bull Racing</h3>
                    </td>
                    <td>
                        <p>Red Bull Racing, also known as RBR, is an Austrian Formula One team based in the United Kingdom.</p>
                        <p><strong>Founded:</strong> 2005</p>
                        <p><strong>Country:</strong> Austria</p>
                        <p><strong>Total World Championships:</strong> 6</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/img/ferrari1.png" alt="Scuderia Ferrari" style="width:100px;">
                        <h3>Scuderia Ferrari</h3>
                    </td>
                    <td>
                        <p>Scuderia Ferrari is the racing team division of Ferrari, the Italian luxury sports car manufacturer.</p>
                        <p><strong>Founded:</strong> 1929</p>
                        <p><strong>Country:</strong> Italy</p>
                        <p><strong>Total World Championships:</strong> 16</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/img/mclaren.png" alt="McLaren" style="width:100px;">
                        <h3>McLaren</h3>
                    </td>
                    <td>
                        <p>McLaren Racing is a British Formula One team based in Woking, Surrey, England.</p>
                        <p><strong>Founded:</strong> 1963</p>
                        <p><strong>Country:</strong> United Kingdom</p>
                        <p><strong>Total World Championships:</strong> 8</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/img/alpines.png" alt="Alpine" style="width:100px;">
                        <h3>Alpine</h3>
                    </td>
                    <td>
                        <p>Alpine, formerly known as Renault, is a French Formula One team based in Enstone, Oxfordshire, England.</p>
                        <p><strong>Founded:</strong> 1977</p>
                        <p><strong>Country:</strong> France</p>
                        <p><strong>Total World Championships:</strong> 2</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/img/astonmartin.png" alt="Aston Martin" style="width:100px;">
                        <h3>Aston Martin</h3>
                    </td>
                    <td>
                        <p>Aston Martin Cognizant Formula One Team is a British-based racing team that was previously known as Racing Point.</p>
                        <p><strong>Founded:</strong> 2018</p>
                        <p><strong>Country:</strong> United Kingdom</p>
                        <p><strong>Total World Championships:</strong> 0</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/img/haas.png" alt="Haas" style="width:100px;">
                        <h3>Haas</h3>
                    </td>
                    <td>
                        <p>Haas F1 Team is an American racing team based in Kannapolis, North Carolina, USA.</p>
                        <p><strong>Founded:</strong> 2016</p>
                        <p><strong>Country:</strong> USA</p>
                        <p><strong>Total World Championships:</strong> 0</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/img/alfaromeo.png" alt="Alfa Romeo" style="width:100px;">
                        <h3>Alfa Romeo</h3>
                    </td>
                    <td>
                        <p>Alfa Romeo F1 Team is an Italian-Swiss team based in Hinwil, Switzerland. It is also known as Sauber.</p>
                        <p><strong>Founded:</strong> 1910</p>
                        <p><strong>Country:</strong> Italy, Switzerland</p>
                        <p><strong>Total World Championships:</strong> 2</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/img/alphatauri.png" alt="AlphaTauri" style="width:100px;">
                        <h3>AlphaTauri</h3>
                    </td>
                    <td>
                        <p>Scuderia AlphaTauri, previously known as Toro Rosso, is an Italian team based in Faenza.</p>
                        <p><strong>Founded:</strong> 1985</p>
                        <p><strong>Country:</strong> Italy</p>
                        <p><strong>Total World Championships:</strong> 0</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/img/williams.png" alt="Williams" style="width:100px;">
                        <h3>Williams</h3>
                    </td>
                    <td>
                        <p>Williams Racing is a British team based in Grove, Oxfordshire, England.</p>
                        <p><strong>Founded:</strong> 1977</p>
                        <p><strong>Country:</strong> United Kingdom</p>
                        <p><strong>Total World Championships:</strong> 9</p>
                    </td>
                </tr>
            </tbody>
        </table>

       


    </div>

    <footer class="footer">
        <div class="social-links">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
        <p>© @DateTime.Now.Year F1 Cars. All rights reserved.</p>
    </footer>

</body>
</html>
